esp32arduino-multisensor-rgb-voice-mqtt/src/flows.json
[{"id":"b31a3f20.83746","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"adec639b.ba15a","type":"mqtt-broker","name":"test.mosquitto.org","broker":"mqtt://test.mosquitto.org","port":"1884","clientid":"smopla","usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"44a45a8e.4c7264","type":"ui_tab","name":"Behaglichkeit","icon":"dashboard","disabled":false,"hidden":false},{"id":"ce804ac4.f0b048","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d50ec085.fabfc","type":"ui_group","name":"CO2","tab":"44a45a8e.4c7264","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac018c1d.11abf","type":"ui_group","name":"T","tab":"44a45a8e.4c7264","order":2,"disp":true,"width":"6","collapse":false},{"id":"a83fc214.bcac3","type":"ui_group","name":"CO2_Chart","tab":"44a45a8e.4c7264","order":3,"disp":true,"width":"12","collapse":false},{"id":"c491dc8c.a4563","type":"inject","z":"b31a3f20.83746","name":"Test Message","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"de/smopla/1","payload":"{\"temperature\":25.0,\"humidity\":50,\"pressure\":1100,\"co2\":440}","payloadType":"json","x":130,"y":60,"wires":[["7a694317.7342fc"]]},{"id":"ffa5a007.0869b","type":"mqtt in","z":"b31a3f20.83746","name":"de/smopla/+","topic":"de/smopla/+","qos":"2","datatype":"auto","broker":"adec639b.ba15a","nl":false,"rap":true,"rh":0,"x":130,"y":240,"wires":[["c8cc796e.2f9758"]]},{"id":"7a694317.7342fc","type":"mqtt out","z":"b31a3f20.83746","name":"de/smopla/1","topic":"de/smopla/1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"adec639b.ba15a","x":330,"y":60,"wires":[]},{"id":"b8675e26.ab0fe","type":"ui_gauge","z":"b31a3f20.83746","name":"T1","group":"ac018c1d.11abf","order":0,"width":0,"height":0,"gtype":"gage","title":"T1","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0006b3","#00e626","#ca3838"],"seg1":"19","seg2":"25","x":790,"y":180,"wires":[]},{"id":"bc40ed53.1ea0a","type":"switch","z":"b31a3f20.83746","name":"TRouter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"de/smopla/1","vt":"str"},{"t":"eq","v":"de/smopla/2","vt":"str"},{"t":"eq","v":"de/smopla/3","vt":"str"},{"t":"eq","v":"de/smopla/4","vt":"str"},{"t":"eq","v":"de/smopla/5","vt":"str"},{"t":"eq","v":"de/smopla/6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":620,"y":240,"wires":[["b8675e26.ab0fe"],["de13d4e7.4e8438"],["ea9c871a.98a518"],["665f051.54996fc"],["fac3558b.496c38"],["74e6b76e.cd7668"]]},{"id":"de13d4e7.4e8438","type":"ui_gauge","z":"b31a3f20.83746","name":"T2","group":"ac018c1d.11abf","order":0,"width":0,"height":0,"gtype":"gage","title":"T2","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0006b3","#00e626","#ca3838"],"seg1":"19","seg2":"25","x":790,"y":200,"wires":[]},{"id":"ea9c871a.98a518","type":"ui_gauge","z":"b31a3f20.83746","name":"T3","group":"ac018c1d.11abf","order":0,"width":0,"height":0,"gtype":"gage","title":"T3","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0006b3","#00e626","#ca3838"],"seg1":"19","seg2":"25","x":790,"y":220,"wires":[]},{"id":"665f051.54996fc","type":"ui_gauge","z":"b31a3f20.83746","name":"T4","group":"ac018c1d.11abf","order":0,"width":0,"height":0,"gtype":"gage","title":"T4","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0006b3","#00e626","#ca3838"],"seg1":"19","seg2":"25","x":790,"y":240,"wires":[]},{"id":"fac3558b.496c38","type":"ui_gauge","z":"b31a3f20.83746","name":"T5","group":"ac018c1d.11abf","order":0,"width":0,"height":0,"gtype":"gage","title":"T5","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0006b3","#00e626","#ca3838"],"seg1":"19","seg2":"25","x":790,"y":260,"wires":[]},{"id":"74e6b76e.cd7668","type":"ui_gauge","z":"b31a3f20.83746","name":"T6","group":"ac018c1d.11abf","order":0,"width":0,"height":0,"gtype":"gage","title":"T6","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0006b3","#00e626","#ca3838"],"seg1":"19","seg2":"25","x":790,"y":280,"wires":[]},{"id":"6b23fce4.dd9924","type":"function","z":"b31a3f20.83746","name":"TExtractor","func":"\nreturn {\"topic\":msg.topic, \"value\":msg.payload.temperature}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["bc40ed53.1ea0a"]]},{"id":"c8cc796e.2f9758","type":"json","z":"b31a3f20.83746","name":"","property":"payload","action":"","pretty":false,"x":270,"y":240,"wires":[["6b23fce4.dd9924","9677da4c.17d988"]]},{"id":"76995b78.e8c3b4","type":"switch","z":"b31a3f20.83746","name":"Router","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"de/smopla/1","vt":"str"},{"t":"eq","v":"de/smopla/2","vt":"str"},{"t":"eq","v":"de/smopla/3","vt":"str"},{"t":"eq","v":"de/smopla/4","vt":"str"},{"t":"eq","v":"de/smopla/5","vt":"str"},{"t":"eq","v":"de/smopla/6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":630,"y":400,"wires":[["6e79cb7d.9b58b4"],["6cbc1e02.86145"],["226a2450.265ecc"],["24d80d1c.472df2"],["18a38de7.2340e2"],["682f7778.29c9f8"]]},{"id":"9677da4c.17d988","type":"function","z":"b31a3f20.83746","name":"CO2Extractor","func":"\nreturn {\"topic\":msg.topic, \"payload\":msg.payload.co2, \"value\":msg.payload.co2}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[["76995b78.e8c3b4","1b22a31b.d8bced","6e80f93a.e5f148"]]},{"id":"6e79cb7d.9b58b4","type":"ui_gauge","z":"b31a3f20.83746","name":"CO2_1","group":"d50ec085.fabfc","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2_1","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b30c","#ffe957","#ca3838"],"seg1":"800","seg2":"1200","x":800,"y":340,"wires":[]},{"id":"6cbc1e02.86145","type":"ui_gauge","z":"b31a3f20.83746","name":"CO2_2","group":"d50ec085.fabfc","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2_2","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b30c","#ffe957","#ca3838"],"seg1":"800","seg2":"1200","x":800,"y":360,"wires":[]},{"id":"226a2450.265ecc","type":"ui_gauge","z":"b31a3f20.83746","name":"CO2_3","group":"d50ec085.fabfc","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2_3","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b30c","#ffe957","#ca3838"],"seg1":"800","seg2":"1200","x":800,"y":380,"wires":[]},{"id":"24d80d1c.472df2","type":"ui_gauge","z":"b31a3f20.83746","name":"CO2_4","group":"d50ec085.fabfc","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2_4","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b30c","#ffe957","#ca3838"],"seg1":"800","seg2":"1200","x":800,"y":400,"wires":[]},{"id":"18a38de7.2340e2","type":"ui_gauge","z":"b31a3f20.83746","name":"CO2_5","group":"d50ec085.fabfc","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2_5","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b30c","#ffe957","#ca3838"],"seg1":"800","seg2":"1200","x":800,"y":420,"wires":[]},{"id":"682f7778.29c9f8","type":"ui_gauge","z":"b31a3f20.83746","name":"CO2_6","group":"d50ec085.fabfc","order":0,"width":0,"height":0,"gtype":"gage","title":"CO2_6","label":"ppm","format":"{{value}}","min":0,"max":"2000","colors":["#00b30c","#ffe957","#ca3838"],"seg1":"800","seg2":"1200","x":800,"y":440,"wires":[]},{"id":"1b22a31b.d8bced","type":"ui_chart","z":"b31a3f20.83746","name":"CO2_Chart","group":"a83fc214.bcac3","order":0,"width":0,"height":0,"label":"CO2 Chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"2000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":520,"wires":[[]]},{"id":"e23a1658.b49688","type":"inject","z":"b31a3f20.83746","name":"Test Message","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"de/smopla/2","payload":"{\"temperature\":21.125,\"humidity\":50,\"pressure\":1100,\"co2\":480}","payloadType":"json","x":130,"y":140,"wires":[["fa0f9375.0ee5f"]]},{"id":"fa0f9375.0ee5f","type":"mqtt out","z":"b31a3f20.83746","name":"de/smopla/2","topic":"de/smopla/2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"adec639b.ba15a","x":310,"y":140,"wires":[]},{"id":"6e80f93a.e5f148","type":"debug","z":"b31a3f20.83746","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":580,"wires":[]}]